default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: bot_backend_development
  username: postgres
  password:
  host: localhost
  port: 5432

test:
  <<: *default
  database: bot_backend_test
  username: postgres
  password:
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>